{% extends "base.html" %}
{% load humanize %}

{% block content %}
<div id="column-main">
    <div class="graph" id="graph"></div>
    <h2 class="caption">Projects overview</h2>
    <div class="part">
        <table class="stats">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Contributers</th>
                    <th>Activity</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects  %}
                    <tr>
                        <td><a href="/project/{{project.id}}/">{{project.name}}</a></td>
                        <td>{{project.author_count}}</td>
                        <td>&nbsp;</td>
                    <tr>
                {% endfor %}
            </tbody>
        </table>
   </div>
    <h2 class="caption">Recent commits</h2>
    <div class="part">
        <table class="stats">
            <thead>
                <tr>
                    <th>Coder</th>
                    <th>Project</th>
                    <th>Time</th>
                    <th>Commits</th>
                </tr>
            </thead>
            <tbody>
                {% for commit in commits  %}
                    <tr>
                        <td><a href="/person/{{commit.author__id}}/">{% firstof commit.author__display commit.author__account %}</a></td>
                        <td><a href="/project/{{commit.repository__id}}/">{{commit.repository__name}}</a></td>
                        <td>{{commit.time|date:"Y-m-d"}}</td>
                        <td>{{commit.comment|truncatewords:16}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
   </div>
</div>
<div id="column-right">
    <div class="month-picker" id="month-picker"></div>
    <div class="graph_bar" id="graph_bar"></div>
   <h2 class="caption">Coders of the Month</h2>
   <div class="part">
        <table class="stats">
            <thead>
                <tr>
                    <th>Coder</th>
                    <th>Commits</th>
                </tr>
            </thead>
            <tbody>
                {% for coder in coders  %}
                    <tr>
                        <td><a href="/person/{{coder.id}}/">{% firstof coder.display coder.account %}</a></td>
                        <td>{{coder.author_commits|intcomma}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
   </div>
</div>
<script language="javascript">
    $.jqplot('graph',  [
    {% for project, line in graph.items %}
    {{line|safe}},
    {% endfor %}
    ],
    {
        title: 'Monthly Commit Graph',
        axes:{
            xaxis:{
                renderer:$.jqplot.DateAxisRenderer, 
                tickInterval: '2 day',
                tickOptions:{formatString:'%b %#d'}
            }, 
            yaxis:{min:0, tickInterval:5}
        },
        series: [
        {% for project, line in graph.items %}
            {label: "{{project|safe}}"},
        {% endfor %}
        ],
        legend: {show:true, localtion:"ne"},
        highlighter: {
            show: true,
            formatString:'%s<br> %s commits'
        },
    });    

    $.jqplot('graph_bar', [{{graph_all|safe}}],
    {
        title: 'Monthly Commit (All)',
        axes:{
            xaxis:{
                renderer:$.jqplot.DateAxisRenderer, 
                tickInterval: '5 day',
                tickOptions:{formatString:'%b %#d'}
            }, 
            yaxis:{min:0, tickInterval:20}
        },
        highlighter: {
            show: true,
            formatString:'%s<br> %s commits'
        },
    });

    $(function() {
        $('.month-picker').datepicker( {
            dateFormat: 'MM yy',
            onChangeMonthYear: function(year, month, inst) {
                url = '/ajax/summary/' + year + '/' + month + '/';
                $.get(url, function(data) {
                    alert(data);
                })
            }
        })
   });
</script>
{% endblock %}
