{% extends "base.html" %}
{% load humanize %}

{% block content %}
<div id="column-main">
    <h2 class="caption">Projects overview</h2>
    <div class="part">
        <dl class="list">
            <dt class="header">Name</dt>
            <dd class="header">Contributors</dd>
            {% for project in projects  %}
                <dt>{{project.name}}</dt>
                <dd>{{project.author_count}}</dd>
            {% endfor %}
        </dl>
    </div>
    <h2 class="caption">Recent commits</h2>
    <div class="part">
         <dl class="list">
            {% for commit in commits  %}
            <dt>{{ commit.author__account }}</dt>
            <dd>[{{commit.repository__name}}][{{commit.time|date:"Y-m-d"}}] {{commit.comment|truncatewords:16}}</dd>
            {% endfor %}
    </div>
</div>
<div id="column-right">
   <h2 class="caption">Coders of the Month</h2>
    <div class="part">
        <dl class="list">
            {% for coder in coders  %}
                <dt>{% firstof coder.display coder.account %}</dt>
                <dd>
                   <span>{{coder.author_commits|intcomma}}</span>
                </dd>
            {% endfor %}
        </dl>
    </div>
</div>
{% endblock %}
