{% extends "base.html" %}
{% load humanize %}

{% block content %}
<div id="column-main">
    <h2 class="caption">{{coder.display}} ({{coder.account}})</h2>
    <div class="graph" id="graph"></div>
    <h2 class="caption">Recent commits</h2>
    <div class="part">
         <table class="stats">
            <thead>
                <tr>
                    <th>Project</th>
                   <th>Time</th>
                    <th>Commits</th>
                </tr>
            </thead>
            <tbody>
                {% for commit in commits  %}
                    <tr>
                        <td><a href="/project/{{commit.repository__id}}/">{{ commit.repository__name  }}</a></td>
                       <td>{{ commit.time|date:"Y-m-d" }}</td>
                        <td>{{ commit.comment|truncatewords:16 }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div id="column-right">
   <h2 class="caption">Related projects</h2>
    <div class="part">
         <table class="stats">
            <thead>
                <tr>
                    <th>Project</th>
                    <th>Commits</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects  %}
                    <tr>
                        <td><a href="/project/{{project.id}}/">{{project.name}}</a></td>
                        <td>{{ project.commits_count|intcomma }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
   </div>
</div>
<script language="javascript">
    $.jqplot('graph',  [
    {% for project, line in graph.items %}
    {{line|safe}},
    {% endfor %}
    ],
    {
        title: 'Monthly Commit Graph',
        axes:{
            xaxis:{
                renderer:$.jqplot.DateAxisRenderer, 
                tickInterval: '2 day',
                tickOptions:{formatString:'%b %#d'}
            }, 
            yaxis:{min:0, tickInterval:5}
        },
        series: [
        {% for project, line in graph.items %}
            {label: "{{project|safe}}"},
        {% endfor %}
        ],
        legend: {show:true, localtion:"ne"},
        highlighter: {
            show: true,
            formatString:'%s<br> %s commits'
        },
   });    
</script>

{% endblock %}
