{% extends "base.html" %}
{% load humanize %}

{% block content %}
<div id="column-main">
    <h2 class="caption">{{project.name}}</h2>
    <div class="graph" id="graph"></div>
    <h2 class="caption">Commits</h2>
    <div class="part">
         <table class="stats">
            <thead>
                <tr>
                    <th>Coder</th>
                   <th>Time</th>
                    <th>Commits</th>
                </tr>
            </thead>
            <tbody id="commit_table">
            </tbody>
        </table>
    </div>
</div>
<div id="column-right">
    <div class="month-picker" id="month-picker"></div>
    <div class="graph_bar" id="graph_bar"></div>
    <h2 class="caption">Monthly commits</h2>
    <div class="part">
         <table class="stats">
            <thead>
                <tr>
                    <th>Coder</th>
                    <th>Commits</th>
                </tr>
            </thead>
            <tbody id="monthly_commits">
            </tbody>
        </table>
    </div>
    <h2 class="caption">Total commits</h2>
    <div class="part">
         <table class="stats">
            <thead>
                <tr>
                    <th>Coder</th>
                    <th>Commits</th>
                </tr>
            </thead>
            <tbody id="total_commits">
            </tbody>
        </table>
    </div>
</div>
<script language="javascript">
    var graph_main;
    var graph_bar;
    $(function() {
        //create main chart
        graph_main = new Highcharts.Chart({
            chart: {
                renderTo: 'graph',
                type: 'line'
            },
            title: {
                text: null
            },
            credits: { enabled: false },
            xAxis: {
                type: 'datetime'
            },
            yAxis: {
                min: 0,
                title: { text: null },
            },
            series: [{
                //data: [[Date.UTC(2010, 0, 1), 1]]
            }]
        });

        //create bar chart
        graph_bar = new Highcharts.Chart({
            chart: {
                renderTo: 'graph_bar',
                type: 'line'
            },
            title: {
                text: null
            },
            credits: { enabled: false },
            legend: { enabled: false },
            xAxis: {
                type: 'datetime'
            },
            yAxis: {
                title: { text: null },
                min: 0,
                //tickInterval: 5,
            },
            series: [{
                //name: 'Total', 
                //data: [[Date.UTC(2010, 0, 1), 1]] 
            }]
        });

        //initialize month picker
        $('.month-picker').datepicker({
            dateFormat: 'MM yy',
            onChangeMonthYear: function(year, month, inst) {
                //update project summary graph
                url = '/ajax/graph/project/' + year + '/' + month + '/';
                url = url + '?project=' + {{project.id}}
                $.get(url, function(data) {
                    newdata = '['; 
                    $.each(data, function(i, item) {
                        newdata = newdata + '[' + Date.UTC(item.year, item.month-1, item.day) + ', ' + item.commit_count + '],';
                    })
                    newdata = newdata + ']';
                    graph_bar.series[0].setData(eval(newdata));
                })

                //update main graph
                url='/ajax/detail/project/' + {{project.id}} + '/' + year + '/' + month + '/';
                $.get(url, function(data) {
                    //remove all existing
                    while (graph_main.series.length > 0)
                        graph_main.series[0].remove(true);                    

                    //build new data
                    lines = {};
                    $.each(data, function(i, item) {
                        line = lines[item.author__account];
                        if (line == null) {
                            line = {};
                            line['name'] = item.author__account;
                            line['display'] = item.author__display;
                            line['data'] = '[';
                            lines[item.author__account] = line;
                        }
                        line['data'] = line['data'] + '[' + Date.UTC(item.year, item.month-1, item.day) + ', ' + item.commit_count + '],';

                    });

                    $.each(lines, function(i, line) {
                        line.data = line.data + ']';
                        //alert(line.name + line.data);
                        graph_main.addSeries({name: line.display, data: eval(line.data)});
                    });
                })
                //update commit log
                url = '/ajax/commits/' + year + '/' + month + '/';
                url = url + '?project=' + {{project.id}};
                $.get(url, function(data) {
                    $("#commit_table tr").remove();
                    $.each(data, function(i, row) {
                        $("#commit_table").append('<tr><td><a href="/person/' + row.author__id + '/">'  + row.author__display + '</a></td> <td>' + row.day + ' ' +  row.time + '</td><td>' + row.comment + '</td></tr>');
                    });
                })

                //update monthly commits stats
                url = '/ajax/commits/';
                url = url + '?project=' + {{project.id}};
                url = url + '&year=' + year;
                url = url + '&month=' + month;
                $.get(url, function(data) {
                    $("#monthly_commits tr").remove();
                    $.each(data, function(i, row) {
                        $("#monthly_commits").append('<tr><td><a href="/person/' + row.author__id + '/">' + row.author__display + '</a></td> <td>' + row.commit_count + '</td></tr>');
                    });
                });

            }
        });

        //update total commits stats
        url = '/ajax/commits/';
        url = url + '?project=' + {{project.id}};
        $.get(url, function(data) {
            $("#total_commits tr").remove();
            $.each(data, function(i, row) {
                $("#total_commits").append('<tr><td><a href="/person/' + row.author__id + '/">' + row.author__display + '</a></td> <td>' + row.commit_count + '</td></tr>');
            });
        });
   });
</script>
{% endblock %}
