{% extends "base.html" %}
{% load humanize %}

{% block content %}
<div id="column-main">
    <h2 class="caption">Projects overview</h2>
    <div class="part">
        <h3>{{ project.name }}</h3>
        <p>{{ project.desc }} </p>
   </div>
    <h2 class="caption">Recent commits</h2>
    <div class="part">
         <table class="stats">
            <thead>
                <tr>
                    <th>Coder</th>
                   <th>Time</th>
                    <th>Commits</th>
                </tr>
            </thead>
            <tbody>
                {% for commit in commits  %}
                    <tr>
                        <td>{% firstof commit.author__display commit.author__account %}</td>
                       <td>{{commit.time|date:"Y-m-d"}}</td>
                        <td>{{commit.comment|truncatewords:16}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div id="column-right">
   <h2 class="caption">Participants</h2>
    <div class="part">
         <table class="stats">
            <thead>
                <tr>
                    <th>Coder</th>
                    <th>Commits</th>
                </tr>
            </thead>
            <tbody>
                {% for coder in coders  %}
                    <tr>
                        <td><a href="/person/{{coder.id}}/">{% firstof coder.display coder.account %}</a></td>
                        <td>{{coder.author_commits|intcomma}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
   </div>
</div>
{% endblock %}
