{% extends "base.html" %}
{% load humanize %}

{% block content %}
<div id="column-main">
    <h2 class="caption">Projects overview</h2>
    <div class="part">
        <h3>{{ project.name }}</h3>
        <p>{{ project.desc }} </p>
   </div>
    <h2 class="caption">Recent commits</h2>
    <div class="part">
         <dl class="list">
            {% for commit in commits  %}
            <dt>{{ commit.author__account }}</dt>
            <dd>[{{commit.time|date:"Y-m-d"}}] {{commit.comment|truncatewords:16}}</dd>
            {% endfor %}
    </div>
</div>
<div id="column-right">
   <h2 class="caption">Participants</h2>
    <div class="part">
        <dl class="list">
            {% for coder in coders  %}
                <dt>{% firstof coder.display coder.account %}</dt>
                <dd>
                   <span>{{coder.author_commits|intcomma}}</span>
                </dd>
            {% endfor %}
        </dl>
    </div>
</div>
{% endblock %}
